{namespace ce=PatrickBroens\ContentRenderingCore\ViewHelpers}

<f:switch expression="{layout}">
	<f:case value="1">
		<h1><ce:link.typolink parameter="{link}">{header}</ce:link.typolink></h1>
	</f:case>
	<f:case value="2">
		<h2><ce:link.typolink parameter="{link}">{header}</ce:link.typolink></h2>
	</f:case>
	<f:case value="3">
		<h3><ce:link.typolink parameter="{link}">{header}</ce:link.typolink></h3>
	</f:case>
	<f:case value="4">
		<h4><ce:link.typolink parameter="{link}">{header}</ce:link.typolink></h4>
	</f:case>
	<f:case value="5">
		<h5><ce:link.typolink parameter="{link}">{header}</ce:link.typolink></h5>
	</f:case>
	<f:case value="6">
		<h6><ce:link.typolink parameter="{link}">{header}</ce:link.typolink></h6>
	</f:case>
	<f:case value="100">
		<f:comment> -- do not show header -- </f:comment>
	</f:case>
	<f:case default="true">
		<f:if condition="{default}">
			<f:render partial="Header/Header" arguments="{
				header: header,
				layout: default,
				link: link}" />
		</f:if>
	</f:case>
</f:switch>